.expenses {
    max-width: 95%;
    width: 50rem;
    display: flex;
    flex-flow: column wrap;
    margin: 2rem auto;
    padding: 1rem;
    background-color: rgba(31, 31, 31);
    border: 1px solid #ccc;
}